.btn-my{

    background-color: #00BFFF;

    color: white;

}
.card{
    background-color: #6EB4A8;
}

.btn-my:hover,

.btn-my:focus,

.btn-my:visited{

    background-color: #4169E1;

    color: white;

}

body{
    background-color: #A6FDC9;
}

.roles_class{
    max-width: 16%;
}